<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <link rel="icon" type="favicon" href="/static/images/forg_fav.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/forget_pas.css"/>
</head>
<body>
<center>
    {% if error %}
            <p style="color: red"><b>{{ error }}</b></p>
    {% endif %}
    <div class="forgot">
        <h2><b>Forgot Password</b></h2>
        
            <form method="post" action="{{ url_for('forget_password') }}" onsubmit="validateForm()">
            <table>
                <tr>
                    <th><label for="email"><i class="fas fa-envelope"></i> Email:</label></th>
                    <td><input type="email" name="email" id="email"  placeholder="Email Id" required></td>
                </tr>
                <tr>
                    <th><label for="password"><i class="fas fa-lock"></i> Password:</label></th>
                    <td><input type="password" name="password" id="password" placeholder="Enter New Password" required></td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <p>
                            <input type="checkbox" onclick="Toggle()" class="showHide">
                            Show Password
                        </p>
                    </td>
                </tr>
            </table>
            <button type="submit"><b>Submit</b></button>
       
        </form>
    </div>
    
</center>
<script>
    //Change password to text 
    function Toggle(){
        let temp=document.getElementById('password');
        if(temp.type==="password"){
            temp.type="text";
        }
        else{
            temp.type="password";
        }
    }
    
    function validateForm() {
        console.log('inside the validateForm function');
        // Validate email
        const email = document.getElementById('email').value;
        if (!email.includes('@')) {
            alert('Invalid email. Must contain @ symbol.');
            return false;
        }

        // Validate password
        const password = document.getElementById('password').value;
        if (password.length < 8 || !/[A-Z]/.test(password) || !/[!@#$%^&*(),.?":{}|<>]/.test(password)) {
            alert('Invalid password. Must be at least 8 characters, contain one capital letter, and one special symbol.');
            return false;
        }

        return true;
    }

</script>
</body>
</html>
